.reaction-teaser {
    height: auto;
    width: 300px;
    display: inline-block;
    padding: 20px;
}


.reaction-teaser h2 {
    margin: 0;
}


.reaction-teaser ul {
    list-style-type: none;
    padding: 0;
    color: #666;
    font-size: 19px;
    font-family: Georgia,serif;
    padding-top: 0;
    margin-top: 0;
    word-wrap: normal;
}

.reaction-teaser ul li {
    display: inline-block;
    min-width: 320px;
    border-bottom: 2px solid black;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
}


.reaction-teaser ul li a {
    display: table;
    font-size: 1em;
    font-weight: normal;
    line-height: 1.3;
    color: #000;
    font-family: Arial;
    text-decoration: none;
}


span.container {
    display: inline-grid;
    text-align: center;
    float: left;
    margin-right: .5em;
}

span.counter {
    margin-left: -12px;
}

span.like {
    background-image: url('img/like.jpg');
    vertical-align: middle;
    display: inline-block;
    margin-right: 10px;
    background-size: 40px 40px;
    width: 40px;
    height: 40px;
    content:"";

}

span.love {
    background-image: url('img/love.jpg');
    vertical-align: middle;

    display: inline-block;
    margin-right: 10px;
    background-size: 40px 40px;
    width: 40px;
    height: 40px;
    content:"";

}
span.sad {
    background-image: url('img/sad.jpg');
    vertical-align: middle;
    display: inline-block;
    margin-right: 10px;
    background-size: 40px 40px;
    width: 40px;
    height: 40px;
    content:"";

}
span.haha {
    background-image: url('img/haha.jpg');
    vertical-align: middle;
    display: inline-block;
    margin-right: 10px;
    background-size: 40px 40px;
    width: 40px;
    height: 40px;
    content:"";

}
span.wow {
    background-image: url('img/wow.jpg');
    vertical-align: middle;
    display: inline-block;
    margin-right: 10px;
    background-size: 40px 40px;
    width: 40px;
    height: 40px;
    content:"";

}
span.angry {
    background-image: url('img/angry.jpg');
    vertical-align: middle;
    display: inline-block;
    margin-right: 10px;
    background-size: 40px 40px;
    width: 40px;
    height: 40px;
    content:"";

}


